{% extends "base.html" %}

{% block content-header %}
	{{ data.msg}}
{% endblock %}

{% block content %}
	<form action="{% url 'login' %}" method="post">
		{% csrf_token%}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	</form>
{% endblock %}